<% provide(:title, "GT24") %>
<body class="home">
	


<div class="center">
<%= link_to image_tag("gt24png.png", alt: "Rails logo", class: "home-logo center") %>
</div>
<div class="center sign-up">
	<h4>New York's very own Social Network and Media Experience</h4>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary center" %>
</div>
</body>